<div mat-dialog-actions style="margin-bottom: 10px">
  <div class="box box-close foo" style="margin: 0 auto" type="button" (click)="onNoClick()" >Close</div>  
  <div *ngIf="copyClicked=='true'" class="check_mark">
  <div class="sa-icon sa-success animate">
    <span class="sa-line sa-tip animateSuccessTip"></span>
    <span class="sa-line sa-long animateSuccessLong"></span>
    <div class="sa-placeholder"></div>
    <div class="sa-fix"></div>
  </div>
  </div>
  <div class="box foo" style="margin: 0 auto" type="button" ngxClipboard [cbContent]="data.code" (cbOnSuccess)="changeCopy()" [class.btn-success]="isCopied1">Copy</div>
</div>
<markdown ngPreserveWhitespaces *ngIf="data.code!=''">
  ```c
    {{data.code}}
  ```
</markdown>
<div *ngIf="data.code==''">

  <h3 style="margin-left:110px;margin-top:60px;color:white">
    Nothing to show here...
  </h3>
</div>