/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(202,220,230);
}

.mat-dialog-container {
    background: #08001C;
}